<main class="container">
      <div class="container-one">
        <h2>Change your password</h2>
        <p>
          An email comfirmatiion will be send. Don't forget to check your spam folder
        </p>
      </div>
      <div class="container-two">
        <div class="container-blue">
          <p><span>Enter your details</span></p>
        </div>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "main-form" }) do |f| %>
          <label class="btn-term" for="submit-info">
              <%= render "devise/shared/error_messages", resource: resource %>
          </label>
            <%= f.hidden_field :reset_password_token %>
            <div class="input-form">
            <%= f.password_field :password, autocomplete: "new-password", class: 'user-pass', id: 'user-pass', placeholder: 'Password', required: true %>
          </div>

          <div class="input-form">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'user-pass', id: 'user-pass', placeholder: "Comfirm Password", required: true %>
          </div>

            <div class="input-form">
            <%= f.submit "Change password", class: 'submit-info', id: 'submit-info' %>
          </div>

          <label class="btn-term" for="submit-info">
            <%= render "devise/shared/links" %>
          </label>
        <% end %>
      </div>
    </main>
